<img class="center-center" src="images/neelchitalebiography.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
  <h1 class="text-right">Biography</h1>
  <p class="lead">Neel is a Jazz, Rock and Pop vocalist from Pleasanton, California, USA.</p>
  <p>Neel started singing at the age of 6. He started training in Indian classical vocals.
    In 2014, Neel joined the Hart Middle School Jazz band. Currently he sings with Foothill High School's Jazz band.
    His musical idols are Frank Sinatra and Steve Wonder. He has also perfomed with the CoolTones Jazz Band and at
    the Firehouse Art Center, in beautiful Pleasanton, California, USA.</p>
  <p>Neel is also an avid long distance runner.</p>
</div><!-- /.container -->
<br/>
<br/>
<br/>
