<img src="images/neelchitaleevents.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

  <h1 class="text-right">Chronography</h1>
  <h2 class="text-right">Upcoming Events</h2>
  <div class="row">
    <table class="table">
      <tr>
        <td class="col-xs-4">Description</td>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">&nbsp;</th>
      </tr>
    </table>
  </div><!-- /.row -->
  <br/>
  <h2 class="text-right">Past Events</h2>
  <div class="row">
    <table class="table">
      <tr>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">Video</th>
      </tr>
      <tr>
        <td>Jazz Band Concert (Foothill Highshool Jazz Band)</td>
        <td>Charles R Vineyards, 8195 Crane Ridge Rd, Livermore, CA 94550, United States <a target="_blank" href="https://www.google.com/maps?hl=en&q=Charles+R+Vineyards,+8195+Crane+Ridge+Rd,+Livermore,+CA+94550,+United+States"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Thursday, May, 5th 2016 7:00 p.m..</td>
        <td>Coming soon...</td>
      </tr>
      <tr>
        <td>Neel performing Feeling Good (again) With Cool Tones</td>
        <td>Farmer's Market, Pleasanton, California, USA <a target="_blank" href="https://www.google.com/maps/place/Pleasanton+Farmers+Market/@37.6592344,-121.8767834,18.53z/data=!4m5!1m2!2m1!1sFarmers+Market+in+Pleasanton,+California!3m1!1s0x808fe9bd27f4fa39:0x45d206301f68ff6d"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Saturday, May, 1st 2016</td>
        <td>
          <button type="button" class="btn btn-link"
              ng-click="vm.showVideo('https://lh3.googleusercontent.com/b7wYzbYDiHRPqjLjdxxez7b6sFZBwianktcgV5o-t5fC56RhjFpnXmDqvlbPj6V4WbdheTd4IRNwCpexYt6P8u5VXIRQYjIR0lYjwShlg2I7hzLtdegGtoyrxRxN9Vl2ZAGzVghr10EEoDzO6ysP-jMQsn1xno4gd8IxVDiXjLDStsIHZiSp2HECUoXGJ17k2trYwgLNEDNekJg5roNgfq19_LXrF5L0Gb3uVV5YJLkF-pW1Z2fflxEfwax418wTzQsg4NVnhYf4vuY7YIKiqwvdZ5TDotFb1ixmIJGb_Lj1B2ui4xkvrMq_TtFXY-ftrLhKb1pbTzWuNuKeUwzzaple1MAhVckEc8coXNPk64H87yOph31J0yUpiTx8xvDmRsc9beTBr8yqiBRvvN60C6372RjXURyh21BMB5Tl4xTFt85mcB-LiFIMd15geHK9WoOrLACOPn83ei8OwFpL9FkbAgH7lBpkiZxcQbSdLXah4JqFCENiciLO17XyiQcQd5fqdhOwyGGS84xN-GcN40UAvOGm8uMAvxvIksR5jf6otXEydfctXmPaQgRNu4DYfm7V=m22?cpn=J4V9I9r2WVDt9XPY&c=WEB&cver=1.20160428')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Neel performing Feeling Good</td>
        <td>Shannon Center, Dublin, California, USA <a target="_blank" href="https://www.google.com/maps/place/Shannon+Community+Center/@37.7151763,-121.9429224,17z/data=!3m1!4b1!4m2!3m1!1s0x808fec5bdd19dda9:0x8c34b061c32ce546"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Friday, April, 15th 2016</td>
        <td>
          <button type="button" class="btn btn-link"
            ng-click="vm.showVideo('https://lh3.googleusercontent.com/KYTsJfJlwr579QAOTin0npnGiOIAHtza5hozcVvsYRDJxOO8wKEnDj76nPLY8sj2rOFzz_s0jG8866IkQdWhGqm90wbov66CXPvjYMCwR0eDc6pY6zOVwtKlH_zsQJx4cxplPMKxhq-m4zG_f-guYkWM5IsfE3tjFE3Ci6fhTB44DjOhWiJYerJ8Kze6lBnaLYefVXKLArEnhf0-mHbxe48sJl0Si5RqgEPxT1EZ-NQB4Vqqk2ueGaa623NEw9ZzG8w47-v4Os1_vLJzZjzR-nZ4vss6AQsSg9SYPltlzgqmiiaBR4WMgTcJ-rhGelcR8IVBLXOdD68kmPirHZaIXERfJCYSG_kwTHl0S17K1S-_od1TRNz3WIlsPjJCPJSMt12GmRvWXtgC_bgtskSZMLA4e2CnLk9kdw_iRGcS-iaMkScwohyQzrQvRJvlwVXjJ_FzvZgK43MWCpSettg7_DM63fkxOoIs4K24weL4Wp644Ed4-p3c6HXCnkPMM4c5EAytHMxK80zBSV0kBoYhUhoFbaQjZpmV1KDkoHB2yYBU2508GCcPAM8_von209XOK8eS=m22?cpn=G31ovPA7ftb6qsxW&amp;c=WEB&amp;cver=1.20160414')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Firehouse True Fusion festival</td>
        <td>Firehouse Art Center, Pleasanton, California, USA <a target="_blank" href="https://www.google.com/maps/place/Pleasanton+Farmers+Market/@37.6592344,-121.8767834,18.53z/data=!4m5!1m2!2m1!1sFarmers+Market+in+Pleasanton,+California!3m1!1s0x808fe9bd27f4fa39:0x45d206301f68ff6d"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Saturday, March, 26th 2016</td>
        <td>
          <button
            class="btn btn-link"
            ng-click="vm.showVideo('https://www.youtube.com/embed/f7JkNayiPo4')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
    </table>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
