<img src="images/neelchitaleevents.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">

  <h1 class="text-right">Chronography</h1>
  <h2 class="text-right">Upcoming Events</h2>
  <div class="row">
    <table class="table">
      <tr>
        <td class="col-xs-4">Description</td>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">&nbsp;</th>
      </tr>
      <tr>
        <td>With Cool Tones</td>
        <td>Farmer's Market in Pleasanton, California, USA <a target="_blank" href="https://www.google.com/maps/place/Pleasanton+Farmers+Market/@37.6592344,-121.8767834,18.53z/data=!4m5!1m2!2m1!1sFarmers+Market+in+Pleasanton,+California!3m1!1s0x808fe9bd27f4fa39:0x45d206301f68ff6d"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Saturday, April, 30th 2016 11:00 a.m.</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div><!-- /.row -->
  <br/>
  <h2 class="text-right">Past Events</h2>
  <div class="row">
    <table class="table">
      <tr>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">Video</th>
      </tr>
      <tr>
        <td>Neel performing Feeling Good</td>
        <td>Shannon Center, Dublin, California, USA <a target="_blank" href="https://www.google.com/maps/place/Shannon+Community+Center/@37.7151763,-121.9429224,17z/data=!3m1!4b1!4m2!3m1!1s0x808fec5bdd19dda9:0x8c34b061c32ce546"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Friday, April, 15th 2016</td>
        <td>
          <button type="button" class="btn btn-link"
            ng-click="vm.showVideo('https://lh3.googleusercontent.com/KYTsJfJlwr579QAOTin0npnGiOIAHtza5hozcVvsYRDJxOO8wKEnDj76nPLY8sj2rOFzz_s0jG8866IkQdWhGqm90wbov66CXPvjYMCwR0eDc6pY6zOVwtKlH_zsQJx4cxplPMKxhq-m4zG_f-guYkWM5IsfE3tjFE3Ci6fhTB44DjOhWiJYerJ8Kze6lBnaLYefVXKLArEnhf0-mHbxe48sJl0Si5RqgEPxT1EZ-NQB4Vqqk2ueGaa623NEw9ZzG8w47-v4Os1_vLJzZjzR-nZ4vss6AQsSg9SYPltlzgqmiiaBR4WMgTcJ-rhGelcR8IVBLXOdD68kmPirHZaIXERfJCYSG_kwTHl0S17K1S-_od1TRNz3WIlsPjJCPJSMt12GmRvWXtgC_bgtskSZMLA4e2CnLk9kdw_iRGcS-iaMkScwohyQzrQvRJvlwVXjJ_FzvZgK43MWCpSettg7_DM63fkxOoIs4K24weL4Wp644Ed4-p3c6HXCnkPMM4c5EAytHMxK80zBSV0kBoYhUhoFbaQjZpmV1KDkoHB2yYBU2508GCcPAM8_von209XOK8eS=m22?cpn=G31ovPA7ftb6qsxW&amp;c=WEB&amp;cver=1.20160414')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Firehouse True Fusion festival</td>
        <td>Firehouse Art Center, Pleasanton, California, USA <a target="_blank" href="https://www.google.com/maps/place/Pleasanton+Farmers+Market/@37.6592344,-121.8767834,18.53z/data=!4m5!1m2!2m1!1sFarmers+Market+in+Pleasanton,+California!3m1!1s0x808fe9bd27f4fa39:0x45d206301f68ff6d"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Saturday, March, 26th 2016</td>
        <td>
          <button
            class="btn btn-link"
            ng-click="vm.showVideo('https://www.youtube.com/embed/f7JkNayiPo4')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
    </table>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
