<img src="images/neelchitaleevents.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
  <h1 class="text-right">Upcoming Events</h1>
  <div class="row">
    <table class="table">
      <tr>
        <td class="col-xs-4">Description</td>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">&nbsp;</th>
      </tr>
      <tr>
        <td>With Cool Tones</td>
        <td>Farmer's Market in Pleasanton, California. <a target="_blank" href="https://www.google.com/maps/place/Pleasanton+Farmers+Market/@37.6592344,-121.8767834,18.53z/data=!4m5!1m2!2m1!1sFarmers+Market+in+Pleasanton,+California!3m1!1s0x808fe9bd27f4fa39:0x45d206301f68ff6d"><i class="glyphicon glyphicon-map-marker"></i></a></td>
        <td>Saturday, April, 30th 2016 11:00 a.m.</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div><!-- /.row -->
  <br/>
  <h1 class="text-right">Past Events</h1>
  <div class="row">
    <table class="table">
      <tr>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">Video</th>
      </tr>
      <tr>
        <td>Neel performing Feeling Good</td>
        <td>Shannon Center, Dublin, California, USA</td>
        <td>Friday, April, 15th 2016</td>
        <td><a target="_blank" href="https://photos.google.com/share/AF1QipNkplGVgGkkkwWBVV4NauETeIn7kSS73NqgToWLLoENoyfm34dxrYHOfgDetEcXoA?key=TGRXc2RFQ19iQ0NWbkgxbjZJaFNydkNsTkl6bFBR"><i class="glyphicon glyphicon-facetime-video"></i></a></td>
      </tr>
      <tr>
        <td>Firehouse True Fusion festival</td>
        <td>Firehouse Art Center, Pleasanton, California, USA</td>
        <td>Saturday, March, 26th 2016</td>
        <td>&nbsp;</td>
      </tr>
    </table>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
