<img src="images/neelchitalemusic.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
  <h2 class="text-right">Discography</h2>
  <br/>
  <br/>

  <br/>
  <br/>
  <div class="row">
    <table class="table">
      <tr>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">Video</th>
      </tr>
      <tr>
        <td>Neel performing Feeling Good</td>
        <td>Shannon Center, Dublin, California, USA</td>
        <td>Friday, April, 15th 2016</td>
        <td>
          <button type="button" class="btn btn-link"
            ng-click="vm.showVideo('https://lh3.googleusercontent.com/KYTsJfJlwr579QAOTin0npnGiOIAHtza5hozcVvsYRDJxOO8wKEnDj76nPLY8sj2rOFzz_s0jG8866IkQdWhGqm90wbov66CXPvjYMCwR0eDc6pY6zOVwtKlH_zsQJx4cxplPMKxhq-m4zG_f-guYkWM5IsfE3tjFE3Ci6fhTB44DjOhWiJYerJ8Kze6lBnaLYefVXKLArEnhf0-mHbxe48sJl0Si5RqgEPxT1EZ-NQB4Vqqk2ueGaa623NEw9ZzG8w47-v4Os1_vLJzZjzR-nZ4vss6AQsSg9SYPltlzgqmiiaBR4WMgTcJ-rhGelcR8IVBLXOdD68kmPirHZaIXERfJCYSG_kwTHl0S17K1S-_od1TRNz3WIlsPjJCPJSMt12GmRvWXtgC_bgtskSZMLA4e2CnLk9kdw_iRGcS-iaMkScwohyQzrQvRJvlwVXjJ_FzvZgK43MWCpSettg7_DM63fkxOoIs4K24weL4Wp644Ed4-p3c6HXCnkPMM4c5EAytHMxK80zBSV0kBoYhUhoFbaQjZpmV1KDkoHB2yYBU2508GCcPAM8_von209XOK8eS=m22?cpn=G31ovPA7ftb6qsxW&amp;c=WEB&amp;cver=1.20160414')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
      <tr>
        <td>Neel's performing various songs</td>
        <td>Firehouse Art Center, Pleasanton, California, USA</td>
        <td>Friday, April, 15th 2016</td>
        <td>
          <button
            class="btn btn-link"
            ng-click="vm.showVideo('https://www.youtube.com/embed/f7JkNayiPo4')">
            <i class="glyphicon glyphicon-facetime-video"></i>
          </button>
        </td>
      </tr>
    </table>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
