<img src="images/neelchitalemusic.jpg"></img>
<!-- Marketing messaging and featurettes
================================================== -->
<!-- Wrap the rest of the page in another container to center all the content. -->

<div class="container">
  <h1 class="text-right">Music</h1>
  <div class="row">
    <table class="table">
      <tr>
        <th class="col-xs-4">Description</th>
        <th class="col-xs-4">Place</th>
        <th class="col-xs-3">Date</th>
        <th class="col-xs-1">Video</th>
      </tr>
      <tr>
        <td>Neel performing Feeling Good</td>
        <td>Shannon Center, Dublin, California, USA</td>
        <td>Friday, April, 15th 2016</td>
        <td><a target="_blank" href="https://photos.google.com/share/AF1QipNkplGVgGkkkwWBVV4NauETeIn7kSS73NqgToWLLoENoyfm34dxrYHOfgDetEcXoA?key=TGRXc2RFQ19iQ0NWbkgxbjZJaFNydkNsTkl6bFBR"><i class="glyphicon glyphicon-facetime-video"></i></a></td>
      </tr>
      <tr>
        <td>Neel's performing various songs</td>
        <td>Firehouse Art Center, Pleasanton California</td>
        <td>Friday, April, 15th 2016</td>
        <td><a target="_blank" href="https://photos.google.com/share/AF1QipNjIKL-Cb8gny-75WUMuvKWs2bHBqwLuH9LDVMYDzBVYWCHFt9z_kCQpjywf7WDVw?key=V2dqTXRnTTZ1VFpoZE1uS3dtNVN6b1lJdWRyUHlR"><i class="glyphicon glyphicon-facetime-video"></i></a></td>
      </tr>
    </table>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
