<table class="table">
  <tr>
    <td><code>nusic</code></td><td><code>New music</code></td>
  </tr>
  <tr>
    <td><code>n...c</code></td><td><code>Neel Chitale</code></td>
  </tr>
  <tr>
    <td><code>nu...</code></td><td><code>New</code></td>
  </tr>
  <tr>
    <td><code>.us..</code></td><td><code>USA or us</code></td>
  </tr>
  <tr>
    <td><code>.u...</code></td><td><code>You</code></td>
  </tr>
  <tr>
    <td><code>...i.</code></td><td><code>India or I</code></td>
  </tr>
  <tr>
    <td><code>.u.i.</code></td><td><code>You and I</code></td>
  </tr>
  <tr>
    <td><code>.usi.</code></td><td><code>USA+India</code></td>
  </tr>
</table>
