<div class="container">
  <h1 class="text-right">Photography</h1>
  <br/>
  <div class="row">
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
  </div><!-- /.row -->
  <div class="row">
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
    <div class="col-xs-4">
      <span class="thumbnail">
        <img src="images/neelchitalebiography.jpg"></img>
      </span>
    </div>
  </div><!-- /.row -->
</div><!-- /.container -->
<br/>
<br/>
<br/>
